*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#grid{
    margin-top: 2vw;
    margin-left: 2vw;
    display: grid;
    width: 600px;
    height: 600px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: wheat;
}

#grid>div{
    width: 200px;
    height: 200px;
}

/* Rond*/

.rond{
    margin: 50px 50px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background: #F24182;
    display: none;
}

/* Croix*/
.croix{
    position: relative;
    margin: 100px 50px;
    display: none;
}

.croix>div{
    width: 100px;
    height: 10px;
    background-color: #F2C53D;
}

.croix>div:first-of-type{
    transform: rotate(45deg);
}

.croix>div:nth-of-type(2){  
    transform: rotate(135deg);
    position: absolute;
    top: 0;
    left: 0;
}

#grid>div:nth-of-type(2n){
    background-color: #3966BF; /*Gestion de la couleur des cases paires*/
}

#grid>div:nth-of-type(2n+1){
    background-color: #223459; /*Gestion de la couleur des cases impaires*/
}
